#i1{
    padding: 10px 20px 30px 40px;
    margin: 5px;
    color:chartreuse;
    border:crimson 10px solid

}
.c1{
    margin: 50px;
    padding: 50px;
    color: darkblue;
    border: 3px solid darkgreen;
}